.base {
    &.black {
        background-color: $brand-black;
    }

    &.blue {
        background-color: $brand-blue;
    }

    &.white {
        background-color: $brand-white;

        .report-content *,
        .report-title {
            font-family: 'Comfortaa', cursive;
        }
    }

    &.news {
        position: relative;

        &::before {
            content: ' ';
            background-image: url('https://s3.eu-central-1.amazonaws.com/pawelizdebski.pl/assets/1-pawel-izdebski-main+fot+Magdalena+Kubiak.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            filter: grayscale(100%);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.2;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }

    &.blog {
        position: relative;

        &::before {
            content: ' ';
            background-image: url('https://s3.eu-central-1.amazonaws.com/pawelizdebski.pl/assets/pawel-izdebski-0+fot.+Magdalena+Kubiak.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.2;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }

    &.blogpost .blog-post-titleContainer *,
    &.blogpost .blog-post-content * {
        font-family: 'Comfortaa', cursive;
    }
}