.base {
    &.black {
        background-color: $brand-black;
    }

    &.blue {
        background-color: $brand-blue;
    }

    &.white {
        background-color: $brand-white;

        .report-content *,
        .report-title {
            font-family: 'Comfortaa', cursive;
        }
    }

    &.blog {
        background: linear-gradient(45deg, $brand-black, $brand-black-violet, $brand-dark-violet, $brand-blue, $brand-black-violet, $brand-black) center/1500% 100%;
        background-position: 50%;
        overflow: auto;
        will-change: background-position;
        transition: background-position 2s linear;
    }

    &.blogpost .blog-post-titleContainer *,
    &.blogpost .blog-post-content * {
        font-family: 'Comfortaa', cursive;
    }
}