.home {
    &-profilePicContainer {
        background-color: $brand-violet;
        padding: 0;
    }

    &-profilePic {
        height: 60vw; 
        position: relative;

        &::after {
            background-image: url("https://s3.eu-central-1.amazonaws.com/pawelizdebski.pl/assets/1-pawel-izdebski-main+fot+Magdalena+Kubiak.jpg");
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: top right;
            background-repeat: no-repeat;
            background-size: 45%;
            content: " ";
            opacity: 0.8;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: 1;
            filter: grayscale(100%);
        }
    }

    &-header {
        position: relative;
        background-color: black;
        
        @media (min-width: $screen-md-min) {
            background-image: linear-gradient(to top right, $brand-dark-violet, $brand-blue 80%);
        }
        @media (max-width: $screen-sm-max) {
            padding-top: 75px;
            background-color: unset;

            &::after {
                background-image: url("https://s3.eu-central-1.amazonaws.com/pawelizdebski.pl/assets/1-pawel-izdebski-main+fot+Magdalena+Kubiak.jpg");
                background-position: top right;
                background-repeat: no-repeat;
                background-size: cover;
                content: " ";
                opacity: 0.8;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                filter: grayscale(100%);
                z-index: -1;
            }
        }

        @media (max-width: $screen-xs-max) {
            &::after {
                background-size: cover;
                background-position: top center;
            }
        }
    }

    &-header-left {
        padding-top: 8vw;
    }

    &-header-title {
        font-size: 60px;
        font-family: 'Comfortaa', cursive;
        letter-spacing: 3px;
        text-align: center;

        @media (max-width: $screen-sm-max) {
            font-family: 'Comfortaa', cursive;
            padding-top: 30vh;
            font-size: 50px;
        }
    }

    &-header-video {
        margin-top: 40px;

        .video-container {
            margin: 0 auto;
            width: 80%;
            z-index: 999;
        }

        @media (max-width: $screen-sm-max) {
            margin: 5vh 0;
        }
    }

    &-header-video-title {
        font-size: 17px;
        letter-spacing: 1px;
    }

    &-calendar-triangle--up {
        height: 450px;
        width: 100%;
        background: linear-gradient(to right bottom, transparent 50%, $brand-blue 50%);
        position: absolute;
        bottom: 0;
        pointer-events: none;
        z-index: 9;
        
        @media (max-width: $screen-md-max) {
            height: 300px;
        }
        @media (max-width: 1100px) {
            height: 250px;
        }
        @media (max-width: $screen-sm-max) {
            background: $brand-blue;
            height: auto;
            position: relative;
            pointer-events: all;
        }
    }

    &-calendar-titleContainer {
        margin-top: 15%;
        padding: 0 5%;
    }

    &-calendar-title {
        letter-spacing: 2px;
        text-align: right;
        text-transform: uppercase;
    }

    &-calendar-separator {
        height: 100px;
        width: 100%;
        background-color: $brand-blue;
    }

    &-calendar {
        width: 100%;
        height: 400px;
        background: linear-gradient(to left bottom, $brand-blue 50%, $brand-black 50%);
        position: relative;

        @media (max-width: $screen-md-max) {
            height: 300px;
        }
        @media (max-width: 1100px) {
            height: 250px;
        }
        @media (max-width: $screen-sm-max) {
            background: $brand-blue;
            margin-top: 5vh;
            padding-bottom: 15vh;
            height: auto;
        }
    }
    
    .events-arrows {
        position: absolute;
        top: 130px;
        right: 5%;
        z-index: 999;
    }

    .events-arrows--mobile {
        position: absolute;
        bottom: 20px;
        top: unset;
        width: 100%;
        text-align: center;
    }

    .slick-arrow {
        -webkit-appearance: none;
        cursor: pointer;

        background: transparent;
        border: none;
        color: $brand-white;
        outline: none;
        letter-spacing: 1px;
        padding: 0 10px;

        transition: 0.4s all ease-in;

        @media (max-width: $screen-sm-max) {
            padding: 0 15px;
        }
    }

    .slick-disabled {
        opacity: 0;
    }

    &-news {
        margin: 70px 0 100px;
    }

    &-newsLink {
        position: absolute;
        bottom: -50px;
        right: 0;

        & + & {
            bottom: -70px;
        }

        @media (max-width: $screen-sm-max) {
            bottom: -75px;
            left: 50%;
            right: unset;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);

            & + & {
                bottom: -100px;
            }
        }
    }

    &-newsColumn {
        position: relative;
    }

    &-news-container--mobile {
        margin: 0 auto;
        max-width: 90vw;
    }

    &-news-title {
        position: absolute;
        bottom: 140px;
        left: 9%;
        text-transform: uppercase;
        letter-spacing: 2.2px;

        @media (max-width: $screen-md-max) {
            bottom: 115px;
        }
    }

    &-news-title--mobile {
        position: relative;
        width: 100%;
        text-align: right;
        left: -10px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        margin-bottom: 30px;
    }

    &-calendar-events,
    &-calendar-events--mobile {
        position: absolute;
        font-size: 16px;
        top: -50%;
        right: 0;
        width: 65%;
        height: 100%;
        padding-right: 5%;
        z-index: 99;

        @media (max-width: $screen-md-max) {
            width: 75%;
        }

        @media (max-width: $screen-sm-max) {
            padding: 0 5%;
            position: relative;
            width: 100%;
        }

        .slick-list {
            position: relative;
        }

        .event {
            display: flex;
            line-height: 35px;
            letter-spacing: 1.2px;
            padding: 5px 0;

            @media (max-width: $screen-sm-max) {
                border-bottom: 1px white solid;
                display: block;
                line-height: 45px;
            }

            *:not(.event-link) {
                max-height: 35px;
                overflow: hidden;
                outline: none;
                text-overflow: ellipsis;
                white-space: nowrap; 

                @media (max-width: $screen-sm-max) {
                    max-height: 45px;
                }
            }

            * {
                @media (max-width: $screen-micro) {
                    font-size: 13px;
                }
            }

            &-left,
            &-right {
                display: flex;

                @media (max-width: $screen-sm-max) {
                    padding: 5px;
                    max-width: 100%;
                    width: 100%;
                }
            }
            
            &-left {
                max-width: 60%;
                max-width: calc(100% - 250px);
                
                @media (max-width: $screen-sm-max) {
                    max-height: 45px;
                    max-width: 100%;
                }
            }

            &-right {
                @media (max-width: $screen-sm-max) and (min-width: $screen-micro + 1) {
                    height: 90px;
                    max-height: 90px !important;
                    justify-content: space-between;
                    white-space: normal;
                }

                @media (max-width: $screen-micro) {
                    height: 135px;
                    max-height: 135px !important;
                    justify-content: space-between;
                    white-space: normal;
                }
            }

            &-icon {
                min-width: 21px;
                padding-right: 5px;
            }

            &-date {
                min-width: 120px;
                padding: 0 5px;
                width: 120px;

                @media (max-width: $screen-sm-max) {
                    max-width: 95%;
                    max-width: calc(100% - 30px);
                    width: auto;
                }

                @media (max-width: $screen-micro) {
                    min-width: 100px;
                }
            }

            &-name {
                @media (max-width: $screen-sm-max) and (min-width: $screen-micro + 1) {
                    max-height: 90px !important;
                    max-width: 60%;
                    max-width: calc(100% - 100px);
                    white-space: normal !important;
                }

                @media (max-width: $screen-micro) {
                    max-height: 135px !important;
                    max-width: 60%;
                    max-width: calc(100% - 100px);
                    white-space: normal !important;
                }
            }

            &-city {
                padding: 0 20px;
                min-width: 135px;
                text-align: right;
                @media (max-width: $screen-sm-max) and (min-width: 320px) {
                    padding-right: 0;
                }
            }

            &-link {
                background: transparent;
                border: 1px $brand-white solid;
                color: $brand-white;
                cursor: pointer;
                line-height: 34px;
                padding: 0 5px;
                text-align: center;
                transition: 0.2s all ease;
                width: 115px;
                min-width: 115px;

                &:hover {
                    background-color: $brand-white;
                    color: $brand-blue;
                }

                @media (max-width: $screen-md-max) {
                    width: 75px;
                    min-width: 75px; 
                    max-height: 45px;
                    line-height: 34px;
                }

                @media (max-width: $screen-sm-max) {
                    line-height: 44px;
                }
            }

            &-link-placeholder {
                width: 115px;
                min-width: 115px;

                @media (max-width: $screen-md-max) {
                    width: 75px;
                    min-width: 75px; 
                }
            }
        }
    }
}
