footer {
    display: flex;
    padding: 20px;

    span {
        opacity: 0.6;
        font-size: 11px;
    }
}

.navbar {
    background-color: transparent;
    letter-spacing: 2px;
    padding: 20px 15px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;

    .fab {
        font-size: 22px;
    }
}

.navbar-toggler {
    border: 1px solid white;
    outline: none !important;
}

.left-nav {
    font-size: 16px;
    line-height: 16px;

    .nav-link {
        border-bottom: 3px transparent solid;
        color: $brand-white !important;
        margin-bottom: -10px;
        opacity: 0.7;
        padding: 0;
        padding-right: 0 !important;
        padding-left: 0 !important;
        padding-bottom: 10px;
        white-space: nowrap;

        transition: all 0.2s linear;

        &:hover {
            color: $brand-white;
            opacity: 1;
            text-decoration: none;
            border-bottom: 3px $brand-blue solid;
        }
    }

    @media (min-width: $screen-md-min) {
        .nav-item {
            padding: 0 15px;
            font-weight: 100;
        }
        
        li + li {
            border-left: 1px $brand-white solid;
        }
    }

    @media (max-width: $screen-sm-max) {
        .nav-item {
            padding: 10px;
            font-weight: 100;
        }
    }
}

.navbar-collapse {
    @media (max-width: $screen-sm-max) {
        background-color: $brand-black;
        text-align: center;
    }
}

.right-nav {
    .nav-link {

        transition: all 0.4s linear;

        &:hover {
            color: $brand-white;
            opacity: 0.8;
            text-decoration: none;
            transform: scale(1.1);
        }
    }
}
