.footer-dark {
    * {
        color: $brand-blue;
    }

    input {
        border: 1px solid $brand-blue;
    }
}

footer {
    display: flex;
    padding: 20px;

    span {
        opacity: 0.6;
        font-size: 11px;
    }
}

.mobile-loader {
    transition: all 1s ease;

    @media (max-width: $screen-xs-max) {
        display: block;
    }
    @media (min-width: $screen-sm-min) {
        display: none;
    }

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    width: 100vw;
    z-index: 999;
    background: $brand-white;

    img {
        position: absolute;
        top: 0;
        left: 10vw;
        max-width: 90vw;
        max-height: 0;
        transition: all 1s ease;
    }
}


.nav-logo-item--loading {
    transform: scale(2.8) !important;
    position: fixed;
    background: #fff;
    padding: 600px !important;
    top: -300px;
    left: -300px;
    top: calc(40% - 600px);
    left: calc(45% - 600px);
}

.nav-logo-item {
    transition: all 1s ease;
}

.navbar {
    background-color: transparent;
    letter-spacing: 2px;
    padding: 20px 15px;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;

    padding-bottom: 100px;
    background-image: url("https://s3.eu-central-1.amazonaws.com/pawelizdebski.pl/assets/website/navbackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    
    @media (max-width: $screen-sm-max) {
        padding-bottom: 180px;

        .navbar-toggler.collapsed {
            &::after {
                content: " ";
                background-image: url("https://s3.eu-central-1.amazonaws.com/pawelizdebski.pl/assets/website/black_logo.png");
                height: 200px;
                width: 200px;
                left: 30px;
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 10% 20%;
                top: 0;
            }
        }
    }

    .fab {
        font-size: 22px;
    }

    @media (max-width: $screen-sm-max) {
        font-size: 13px;
    }
}

.navbar-toggler {
    border: 1px solid white;
    outline: none !important;
}

.mobile-loader--loading {
    height: 100vh;

    img {
        top: 40vh;
        max-height: 30vh;
    }

    &+.navbar {
        @media (max-width: $screen-xs-max) {
            z-index:1;
        }
    }
}

.left-nav {
    font-size: 16px;
    line-height: 16px;

    .nav-link {
        border-bottom: 3px transparent solid;
        color: $brand-white !important;
        margin-bottom: -10px;
        opacity: 0.95;
        padding: 0;
        padding-right: 0 !important;
        padding-left: 0 !important;
        padding-bottom: 10px;
        white-space: nowrap;

        transition: all 0.2s linear;

        &:hover {
            color: $brand-white;
            opacity: 1;
            text-decoration: none;
        }
    }

    @media (min-width: $screen-md-min) {
        .nav-item {
            padding: 0 12px;
            font-weight: 500;
        }
        
        li + li {
            border-left: 1px $brand-white solid;
        }
    }

    @media (max-width: $screen-xs-max) {
        .nav-item {
            padding: 10px;
            font-weight: 100;
        }
    }
}

.navbar-collapse {
    align-items: flex-start;

    @media (max-width: $screen-xs-max) {
        background-color: $brand-white;
        opacity: 1;
        text-align: center;
    }
}

.right-nav {
    .nav-link {

        transition: all 0.4s linear;

        &:hover {
            color: $brand-white;
            opacity: 0.8;
            text-decoration: none;
            transform: scale(1.1);
        }
    }

    .nav-item + .nav-item {
        &::before {
            content: '·';
            color: $brand-black;
            font-size: 13px;
            font-weight: bold;
            position: absolute;
            line-height: 35px;

            @media (max-width: $screen-xs-max) {
                content: '';
            }
        }
    }
}

.nav-logo {
    max-width: 150px;

    @media (max-width: 840px) {
        max-width: 100px;
    }

    @media (max-width: $screen-xs-max) {
        margin-left: 17px;
    }

    @media (min-width: 1040px) {
        max-width: 200px;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .75rem;
        padding-left: .75rem;
    }
}
