.report {
    &-link {
        border: 1px dotted #000;
        color: rgba(35,3,79, 0.7) !important;
    }

    &-content,
    &-content * {
        color: $brand-blue;
        font-size: 19px;
        line-height: 1.45;
        letter-spacing: 0.5px;
        margin-bottom: 30px;
        word-break: break-word;

        @media (max-width: $screen-sm-max) {
            font-size: 17px;
        }
    }

    &-header {
        margin: 0 -15px;
        background: linear-gradient(135deg, #dddddd, #fcfcfc);
        display: table;
        padding: 200px 50px 100px;
        width: 100vw;

        @media (max-width: $screen-sm-max) {
            height: 150px;
            padding-top: 250px;
        }
    }

    &-title {
        vertical-align: bottom;
        display: table-cell;
        text-align: center;
        font-size: 50px;
        letter-spacing: 1.2px;
        width: 100%;

        @media (max-width: $screen-sm-max) {
            font-size: 27px;
        }
    }

    &-videos-container {
        background: linear-gradient(135deg, #dddddd, #fcfcfc);
        margin: 0 -15px;
        padding-top: 50px;
        width: 100vw;
        position: relative;
        height: 400px;

        &::before {
            content: ' ';
            background-image: url("https://s3.eu-central-1.amazonaws.com/pawelizdebski.pl/assets/website/navbackground.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left bottom;
            width: 100%;
            position: absolute;
            height: 200px;
            top: 0;
            left: -5%;
            width: 105vw;

            @media (max-width: $screen-sm-max) {
                top: -50px;
            }
        }

        &::after {
            content: ' ';
            background-image: url("https://s3.eu-central-1.amazonaws.com/pawelizdebski.pl/assets/website/homegallery.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left bottom;
            width: 100%;
            position: absolute;
            width: 100%;
            bottom: -50px;
            height: 225px;
            left: 0;
        }
    }
    
    &-violet {
        text-decoration: underline;
        text-decoration-color: $brand-violet;
    }
}