# Jekyll
_site/
_unposted/
tmp/

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

.DS_STORE
.rvmrc
.sass-cache
.asset-cache
.jekyll-assets-cache
.jekyll-metadata
.ruby-gemset
.editorconfig
/node_modules
/.vscode
/.DS_Store
*/.DS_STORE
*/.DS_Store
