---
layout: base
title: Książę Naiwności
body_class: 'black'
---
{% include navbar.html %}

<div class="home">
    <!-- desktop view -->
    <div class="d-none d-md-block d-xl-block">

        <div class="home-header">
            <div class="row">
                <!-- left -->
                <div class="col-md-6 home-header-left">
                    <div class="home-header-titleContainer">
                        <h1 class="home-header-title">PAWEŁ IZDEBSKI</h1>
                    </div>
                    <div class="home-header-video">
                        <div class="video-container">
                            <iframe width="420" height="315"
                                src="https://www.youtube.com/watch?v=xcXnqFMatBU&list=RDxcXnqFMatBU?html5=1">
                            </iframe>
                        </div>
                    </div>
                </div>
                <!-- right -->
                <div class="col-md-6">
                    <img class="home-profilePic" src="{{ 'pawel-izdebski.jpg '| asset_path | absolute_url }}" alt="pawel izdebski">
                </div>
            </div>
        </div>

    </div>


    <!-- mobile view -->
    <div class=" d-block d-md-none d-xl-none">

    </div>
</div>

{% include footer.html %}
