---
layout: base
title: Książę Naiwności
body_class: 'home'
---
{% include navbar_home.html %}
{% include home_gallery.html %}
<a class="home-galleryLink" href="{{ "/galeria/" | absolute_url }}" target="_blank">Więcej zdjęć promocyjnych w Galerii >></a>

<div class="home-section row">
    <div class="col-md-7 col-xs-12 order-md-2 order-xs-1 home-section--calendar">
        <div class="home-calendar">
            <div class="events-arrows"></div>
            <div class="home-calendar-events">
                {% include calendar.html %}
            </div>
        </div>
    </div>
    <div class="col-md-5 col-xs-12 order-md-1 order-xs-2 home-section--video">

    </div>
</div>

{% include footer.html %}
