---
layout: base
title: "O mnie"
body_class: 'black'
---
{% include navbar.html %}

<div class="bio-container container-fluid">
    <div class="bio-separator--upper">
    
    </div>
    <div class="bio-text row">
        <div class="col-xs-12 col-sm-12 col-md-12 order-1">
            <h1 class="bio-title">Paweł Izdebski</h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 offset-md-3 order-2">
            <blockquote class="bio-quote--top">Miałem zostać piłkarzem i&nbsp;wtedy Ją zobaczyłem. Po raz pierwszy. Pomarańczową gitarę klasyczną za 149zł. Nie miałem pojęcia co robić, po prostu grałem. Wszystko i&nbsp;nic. Jesteśmy w związku od lat i&nbsp;obawiam się, że nie będę z&nbsp;nikim innym w tak zażyłej relacji.</blockquote>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 order-3">
            <div class="row">
                <div class="bio-imageContainer col-xs-12 col-sm-12 col-md-5">
                    <img class="bio-image" src="{{ 'foto/promo-1.jpg' | asset_path | absolute_url }}" alt="Paweł Izdebski">
                    <a class="bio-galleryLink" href="{{ "/galeria/" | absolute_url }}" target="_blank">Zobacz więcej zdjęć w Galerii >></a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7">
                    <p>
                        <span class="bio-bold">Paweł Izdebski</span> – Wokalista, gitarzysta, piosenkopisarz i&nbsp;youtuber. Tworzy własny samozwańczy gatunek muzyczny; <span class="bio-blue">Bluepop</span>, który jest połączeniem muzyki alternatywnej, akustycznej i&nbsp;bluesowej opartej na popowych brzmieniach gitary. Ma za sobą występ na takich festiwalach jak <span class="bio-blue">Rawa Blues Festival</span> czy <span class="bio-blue">Międzynarodowy Festival FAMA</span>, gdzie wystąpił w&nbsp;roli supportu przed Skubasem. W&nbsp;2017 wydał swoję epkę pt. "<span class="bio-violet">Książę Naiwności</span>", dzięki środkom zebranym w&nbsp;kampanii crowdfundingowej. Wokalista Studio Accantus. Od czerwca aktor w&nbsp;spektaklu „Once” wystawianym przez <span class="bio-blue">Teatr Muzyczny Roma</span>.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 order-4">
            <p>
                <b>Ciekawostki o Pawle:</b><br/>
                * Jest leworęczny,<br/>
                * Przez pół roku był w reprezentacji Polski w w strategicznej grze komputerowej StarCraft:Broodwar,<br/>
                * Pierwszy utwór jaki zagrał w swoim życiu to <i>„Smells Like Teen Spirit”</i> zespołu Nirvana,<br/>
                * 3 razy rzucał studia, za każdym razem z powodu muzyki.
            </p>
            <p>
                Swoje pierwsze muzyczne kroki stawiał w&nbsp;Gminnym Ośrodku Kultury w&nbsp;Wiązownie, skąd pochodzi. Ogromny wkład w&nbsp;rozwój muzyczny Pawła miał <b>Pan Roman Sadowski</b>, który zaszczepił w&nbsp;nim miłość do gitary i muzyki bluesowej. Pod jego okiem został laureatem wielu konkursów piosenek m.i.n Ogólnopolskiego Festiwalu Piosenki im. Jarosława Kukulskiego.
            </p>
            <p>Był uczestnikiem telewizyjnego show <span class="bio-blue">Bitwa na Głosy</span>, w&nbsp;którym reprezentował drużynę Natalii i&nbsp;Pauliny Przybysz.</p>
            <div class="bio-videoWrapper"><iframe width="100%" height="415" src="https://www.youtube.com/embed/B7bgySHJeE4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 order-5">
            <p>
                Od 2016 absolwent wydziału wokalno-rozrywkowego ZPSM im.&nbsp;Fryderyka Chopina w&nbsp;Warszawie (Bednarska). Od trzech lat jest wokalistą <span class="bio-blue">Studia Accantus</span>, które szerzy w Polsce muzykę musicalowo-bajkową. W&nbsp;latach 2014-2018 jest gitarzystą w&nbsp;zespole <span class="bio-blue">Ralph Kamiński Band&nbsp;&amp;&nbsp;My Best Band In The World</span>, z&nbsp;którym m.in. odwiedził Londyn (<b>Sofar London</b>) oraz zagrał na <b>Opener Festival</b> 2017. 
            </p>
            <blockquote class="bio-quote--bottom">
                Ogromny wpływ na moją muzykę wywarli tacy artyści jak: <b>Jeff Buckley</b>, <b>Tracy Chapman</b>, <b>Paolo Nutini</b>, <b>Tyler Hilton</b> czy <b>John Mayer</b>. W&nbsp;muzyce cenię sobie szczerość i&nbsp;naturalność. Interesuje mnie przede wszystkim historia i&nbsp;spójność muzyki ze słowem. 
            </blockquote>
        </div>
    </div>

    <div class="bio-separator row">

    </div>
</div>

{% include footer.html %}