---
layout: base
title: "Kontakt"
body_class: 'black'
---

{% include navbar.html %}

<div class="container-fluid contact-container">
        <div class="contact-header">
            <h1 class="contact-title">PAWEŁ IZDEBSKI | KONTAKT</h1>
        </div>
        <div class="contact-separator contact-separator--color">
    
        </div>
        <div class="row contact-data">
            <div class="col-xs-12 col-sm-12 col-md-6 order-1">
                <h3 class="contact-subtitle">Booking, Management, Współpraca</h3>
                <h4 class="contact-name">Paweł Izdebski</h4>
                <p>
                    Email: <a href="mailto:izdebskiofficial@gmail.com">izdebskiofficial@gmail.com</a>
                    <br/>
                    Telefon: <a href="tel:+48508282051">+48 508282051</a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 order-2">
                <h3 class="contact-subtitle">Strona Internetowa</h3>
                <h4 class="contact-name">Daria Woźnicka</h4>
                <p>
                    Email: <a href="mailto:woznicka.daria@gmail.com">woznicka.daria@gmail.com</a>
                    <br/>
                    Telefon: <a href="tel:+48730527124">+48 730527124</a>
                </p>
            </div>
        </div>
</div>

{% include footer.html %}