---
layout: base
title: "Kontakt"
body_class: 'black'
---

{% include navbar.html %}

<div class="container-fluid contact-container">
        <div class="contact-header">
            <h1 class="contact-title">PAWEŁ IZDEBSKI | KONTAKT</h1>
        </div>
        <div class="contact-separator contact-separator--color">
    
        </div>
        <div class="row contact-data">
            <div class="col-xs-12 col-sm-12 col-md-12 order-1">
                <h3 class="contact-subtitle">Booking, Management, Współpraca</h3>
                <h4 class="contact-name">Daria Woźnicka</h4>
                <p>
                    Email: <a href="mailto:koncerty@pawelizdebski.pl">koncerty@pawelizdebski.pl</a>
                    <br/>
                    Telefon: <a href="tel:+48730527124">+48 730 527 124</a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 order-2">
                <br/><br/>
                <h4 class="contact-subtitle">Fan mail - napisz do Izdeba</h3>
                <p>
                    Email: <a href="mailto:izdebskiofficial@gmail.com">izdebskiofficial@gmail.com</a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 order-3">
                <br/><br/>
                <h4 class="contact-subtitle">Pytania, uwagi, błędy na stronie? </h3>
                <p>
                    Email: <a href="mailto:pawelizdebskiband@gmail.com">pawelizdebskiband@gmail.com</a>
                </p>
            </div>
        </div>
</div>

{% include footer.html %}