{% assign events = site.data.events | sort: "date" %}

{% for event in events %}
    <div class="event">
        <div class="event-left mr-auto">
            <span class="event-icon"><i class="far fa-calendar-alt"></i></span>
            <div class="event-date">{% include translated_date.html date=event.date format="%d %b %Y" lang="pl" %}</div>
            <span class="event-city ml-auto">{{ event.city }}</span>
        </div>
        <div class="event-right ml-auto">
            <span class="event-name">{{ event.name }}</span>
            {% if event.link_fb %}
                <a class="event-link" href="{{ event.link_fb }}" target="_blank">FB</a>
            {% elsif event.link_tickets %}
                <a class="event-link" href="{{ event.link_tickets }}" target="_blank">Bilety</a>
            {% elsif event.link_buy %}
                <a class="event-link" href="{{ event.link_buy }}" target="_blank">Kup</a>
            {% else %}
                <div class="event-link-placeholder"></div>
            {% endif %}
        </div>
    </div>
{% endfor %}
