<div class="container-fluid footer {% if include.dark_footer %}footer-dark{% endif %}" id="newsy">
    <div class="container footer-formContainer">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-xs-12 col-sm-12">

                
                <div class="footer-signature">
                    <div class="footer-logo">
                        <img src="{{ 'logo/black_logo.png' | asset_path | absolute_url }}" alt="Paweł Izdebski logo" title="Paweł Izdebski">
                    </div>

                    <div class="footer-media">
                        <ul class="footer-mediaList">
                            <li class="footer-mediaList-item">
                                <a class="footer-mediaList-link" target="_blank" href="{{ site.spotify_url }}"><i class="fab fa-spotify"></i></a>
                            </li>
                            <li class="footer-mediaList-item">
                                <a class="footer-mediaList-link" target="_blank" href="{{ site.youtube_url }}"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li class="footer-mediaList-item">
                                <a class="footer-mediaList-link" target="_blank" href="{{ site.instagram_url }}"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li class="footer-mediaList-item">
                                <a class="footer-mediaList-link" target="_blank" href="{{ site.facebook_url }}"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="footer-mediaList-item">
                                <a class="footer-mediaList-link" target="_blank" href="{{ site.twitter_url }}"><i class="fab fa-twitter"></i></a>
                            </li>
                      </ul>
                    </div>
                    <div class="footer-form">
                        <br/><br/><br/>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="{% if include.dark_footer %}footer-dark{% endif %}">
    <span class="mr-auto">{{ site.copyright_short }}</span>
    <span class="ml-auto developer">{{ site.made_by }}</span>
</footer>
