<div class="container-fluid footer {% if page.dark_footer %}footer-dark{% endif %}">
    <div class="container footer-formContainer">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-xs-12 col-sm-12">
                <div class="footer-form">
                    <h3 class="newsletter-title">ZAPISZ SIĘ DO MOJEJ LISTY MAILINGOWEJ!</h3>
                    <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form action="https://facebook.us12.list-manage.com/subscribe/post?u=1b04047de1fde10dcd31e728b&amp;id=9db5d89562" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate newsletter-form" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll" class="newsletter-form-inline">
                            <input type="email" value="" name="EMAIL" class="email newsletter-input" id="mce-EMAIL" placeholder="email address" required>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1b04047de1fde10dcd31e728b_9db5d89562" tabindex="-1" value=""></div>
                            <div class="clear"><button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button newsletter-submit"><i class="far fa-paper-plane"></i></button></div>
                            </div>
                        </form>
                    </div>

                    <!--End mc_embed_signup-->
                </div>
                <div class="footer-signature">
                    <h3 class="signature">
                        PAWEŁ IZDEBSKI
                    </h3>
                    <div class="footer-media">
                        <ul class="footer-mediaList">
                            <li class="footer-mediaList-item">
                                <a class="footer-mediaList-link" href="{{ site.spotify_url }}"><i class="fab fa-spotify"></i></a>
                            </li>
                            <li class="footer-mediaList-item">
                                <a class="footer-mediaList-link" href="{{ site.youtube_url }}"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li class="footer-mediaList-item">
                                <a class="footer-mediaList-link" href="{{ site.instagram_url }}"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li class="footer-mediaList-item">
                                <a class="footer-mediaList-link" href="{{ site.facebook_url }}"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="footer-mediaList-item">
                                <a class="footer-mediaList-link" href="{{ site.twitter_url }}"><i class="fab fa-twitter"></i></a>
                            </li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
