<!-- <nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto left-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ "/" | absolute_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/bio/" | absolute_url }}">bio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ "/muzyka/" | absolute_url }}">muzyka</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ "/teksty/" | absolute_url }}">teksty</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ "/galeria/" | absolute_url }}">foto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ "/zespol/" | absolute_url }}">zespół</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ "/news/" | absolute_url }}">newsy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ "/blog/" | absolute_url }}">blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ "/kontakt/" | absolute_url }}">kontakt</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto right-nav">
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="{{ site.spotify_url }}"><i class="fab fa-spotify"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="{{ site.youtube_url }}"><i class="fab fa-youtube"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="{{ site.instagram_url }}"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="{{ site.facebook_url }}"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="{{ site.twitter_url }}"><i class="fab fa-twitter"></i></a>
            </li>
      </ul>
    </div>
</nav> -->
