---
layout: base
title: "Muzyka"
body_class: 'black'
---
{% include navbar.html %}

<div class="container-fluid music-container">
    <div class="music-header">
        <h1 class="music-title">PAWEŁ IZDEBSKI | MUZYKA</h1>
    </div>
    <div class="music-separator music-separator--color">

    </div>
    <div class="container">
        <div class="row music-player-row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <iframe src="https://open.spotify.com/embed?uri=spotify:album:2DM2GLKv3N1FObQGcH2Gj9" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 offset-md-1">
                <div class="music-album-imageContainer">
                    <img width="200" height="150" src="http://res.cloudinary.com/pawel-izdebski/image/upload/v1535055244/pawel-izdebski-4.jpg" alt="Paweł Izdebski - Książę Naiwności" class="music-album-image">
                </div>
                <div class="music-album-description">
                    <blockquote>
                        <span class="music-album-title">Książę Naiwności</span>
                        Dla mnie to przede wszystkim pożegnanie z&nbsp;sobą samym, naiwnym, tchórzliwym chłopakiem, który boi&nbsp;się zrobić krok w&nbsp;kierunku swoich marzeń, który zamiast działać&nbsp;–&nbsp;wymyśla coraz to nowe czarne scenariusze. Każda z&nbsp;piosenek to oddzielna wątpliwość. Tytułowy „<span class="music-violet">Książę Naiwności</span>” to postać, która przez większość czasu buja w&nbsp;obłokach, co jest powodem niefortunnych zdarzeń, mających negatywne odbicie w rzeczywistości. Produkcją oraz aranżacją utworów zajął się doświadczony muzyk <b>Marek Błaszczyk</b> współtwórca zespołów <i>Ich Troje</i>, <i>Volver</i> a&nbsp;obecnie klawiszowiec zespołu <b><i>Piotr Bukartyk</i></b>.
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="music-separator music-separator--black">

    </div>
    <div class="container-fluid music-videos-container">
        <div class="row">
            {% assign videos = site.data.music_videos %}
            {% for video in videos %}
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="music-video-container">
                    <iframe width="100%" height="300" src="{{ video.url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="z-index: 100;"></iframe>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h2 class="music-channel-invitation">
                    <a href="https://www.youtube.com/user/Pmfia" target="_blank">ZOBACZ WIĘCEJ NA MOIM KANALE YOUTUBE >> </a>
                </h2>
            </div>
        </div>
    </div>
    <div class="music-separator music-separator--color">

    </div>
    <div class="container-fluid music-sales-container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h2 class="music-channel-invitation music-sales-title">
                    ZDOBĄDŹ EPKĘ 'KSIĄŻĘ NAIWNOŚCI'
                </h2>
                
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <a class="music-sales-link" href="https://itunes.apple.com/pl/album/ksi%C4%85%C5%BC%C4%99-naiwno%C5%9Bci-ep/id1266200675?l=pl" target="_blank">
                    <div class="music-sales-logo">
                        <img src="{{ 'retailers/2_5_LogoRetina.png' | asset_path | absolute_url }}" alt="2_5">
                    </div>
                    <div class="music-sales-verb">
                        <span class="music-sales-text">Posłuchaj</span>
                    </div>
                </a>
                <a class="music-sales-link" href="https://open.spotify.com/album/2DM2GLKv3N1FObQGcH2Gj9" target="_blank">
                    <div class="music-sales-logo">
                        <img src="{{ 'retailers/1_13_LogoRetina.png' | asset_path | absolute_url }}" alt="1_13">
                    </div>
                    <div class="music-sales-verb">
                        <span class="music-sales-text">Posłuchaj</span>
                    </div>
                </a>
                <a class="music-sales-link" href="https://listen.tidal.com/track/76891921" target="_blank">
                    <div class="music-sales-logo">
                        <img src="{{ 'retailers/12_5_LogoRetina.png' | asset_path | absolute_url }}" alt="12_5">
                    </div>
                    <div class="music-sales-verb">
                        <span class="music-sales-text">Posłuchaj</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <a class="music-sales-link" href="https://www.deezer.com/pl/album/45608591" target="_blank">
                    <div class="music-sales-logo">
                        <img src="{{ 'retailers/6_7_LogoRetina.png' | asset_path | absolute_url }}" alt="6_7">
                    </div>
                    <div class="music-sales-verb">
                        <span class="music-sales-text">Posłuchaj</span>
                    </div>
                </a>
                <a class="music-sales-link" href="https://www.akazoo.com/album/25142478/Ksi----Naiwno-ci" target="_blank">
                    <div class="music-sales-logo">
                        <img src="{{ 'retailers/218_1_LogoRetina.png' | asset_path | absolute_url }}" alt="218_1">
                    </div>
                    <div class="music-sales-verb">
                        <span class="music-sales-text">Posłuchaj</span>
                    </div>
                </a>
                <a class="music-sales-link" href="https://itunes.apple.com/pl/album/ksi%C4%85%C5%BC%C4%99-naiwno%C5%9Bci-ep/id1266200675?l=pl&app=itunes" target="_blank">
                    <div class="music-sales-logo">
                        <img src="{{ 'retailers/3_6_LogoRetina.png' | asset_path | absolute_url }}" alt="3_6">
                    </div>
                    <div class="music-sales-verb">
                        <span class="music-sales-text">Kup</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <a class="music-sales-link" href="https://play.google.com/store/music/album/Pawe%C5%82_Izdebski_Ksi%C4%85%C5%BC%C4%99_Naiwno%C5%9Bci?id=Bxk3g3lmjwrjfv5mvjbuvchqzra&hl=pl" target="_blank">
                    <div class="music-sales-logo">
                        <img src="{{ 'retailers/5_4_LogoRetina.png' | asset_path | absolute_url }}" alt="5_4">
                    </div>
                    <div class="music-sales-verb">
                        <span class="music-sales-text">Kup</span>
                    </div>
                </a>
                <a class="music-sales-link" href="https://plusmusic.pl/album/3836583/ksiaze-naiwnosci" target="_blank">
                    <div class="music-sales-logo">
                        <img src="{{ 'retailers/217_2_LogoRetina.png' | asset_path | absolute_url }}" alt="217_2">
                    </div>
                    <div class="music-sales-verb">
                        <span class="music-sales-text">Kup</span>
                    </div>
                </a>
                <a class="music-sales-link" href="https://www.empik.com/ksiaze-naiwnosci,p1151249768,ebooki-i-mp3-p" target="_blank">
                    <div class="music-sales-logo">
                        <img src="{{ 'retailers/31_3_LogoRetina.png' | asset_path | absolute_url }}" alt="31_3">
                    </div>
                    <div class="music-sales-verb">
                        <span class="music-sales-text">Kup</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}
