@import 'scss/colors';
@import 'scss/base';
@import 'scss/navbar';
@import 'scss/newsletter';
@import 'scss/home';

body,
body * {
    font-family: 'Playfair Display', serif;
    color: $brand-white;
}

@media (min-width: 991px) and (max-width: $screen-sm-max) {
    .d-md-none {
        display: none !important;
    }
    .d-md-block.d-lg-none {
        display: block !important;
    }
    .navbar-expand-lg .navbar-collapse {
        display: none !important;
    }
    .navbar-expand-lg .navbar-toggler {
        display: block !important;
    }
}

@media (min-width: $screen-md-min) {
    .d-md-none {
        display: block !important;
    }
}
