@import 'scss/colors';
@import 'scss/base';
@import 'scss/navbar';
@import 'scss/newsletter';
@import 'scss/home';

body,
body * {
    font-family: 'Playfair Display', serif;
    color: $brand-white;
}

@media (max-width: 1000px) {
    .d-md-none {
        display: none !important;
    }
    .navbar-expand-lg .navbar-collapse {
        display: none !important;
    }
    .navbar-expand-lg .navbar-toggler {
        display: block !important;
    }
}

@media (min-width: 1001px) {
    .d-md-none {
        display: block !important;
    }
}
