---
layout: base
title: "Press Pack"
---

{% include navbar.html %}

<div class="container-fluid contact-container">
        <div class="contact-header">
            <h1 class="contact-title">PRESS PACK</h1>
        </div>
    
        </div>
        <div class="row contact-data">
            <div class="col-xs-12 col-sm-12 col-md-12 order-1">
                <h3 class="contact-subtitle">Zdjęcia</h3>
                <p>
                  <a href="https://www.dropbox.com/sh/nfnj6gq0s4bfy1s/AAAmWhb7CT8AlJO4fPAAT1zba?dl=0">Pobierz zdjęcia [dropbox]</a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 order-2">
                <br/><br/>
                <h4 class="contact-subtitle">Bio</h3>
                <p>
                  <a href="https://s3.eu-central-1.amazonaws.com/pawelizdebski.pl/assets/bio.pdf">Pobierz bio [PDF]</a>
                </p>
            </div>
        </div>
</div>

{% include footer.html %}