---
layout: base
is_blog_page: true
---

{% include navbar.html %}
{% assign image_url = page.image_url %}
<section class="container-fluid blog-post-titleContainer" style="background-image: url({{ image_url }});">
    <h1 class="blog-post-title">{{ page.title }}</h1>
    <h3 class="blog-post-date">{% include translated_date.html date=page.date format="%d %B %Y" lang="pl" %}</h3>
</section>

<article class="container-fluid blog-post-content">
    <div class="row blog-post-content-row">
        <div class="col-md-10 offset-md-1 col-xs-12 col-sm-12">
            {% include blog_sticky_social_section.html %}
            <div class="col-md-10 offset-md-1 post-content">
                {{ content }}
            </div>
        </div>
    </div>
</article>

{% include footer.html dark_footer=true %}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b60672029bdcd8b"></script>
